body {
  font-family: Arial, Helvetica, sans-serif;
}

.chat-container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  background-color: #233f52;
  box-sizing: border-box;
  gap: 10px;
  padding: 30px;
}
.chat-container .bubble-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chat-container .bubble-container.left {
  width: 50%;
  margin-right: auto;
}
.chat-container .bubble-container.right {
  width: 50%;
  margin-left: auto;
  align-items: flex-end;
}

.chat-container
  .bubble-container.left
  .bubble:nth-child(1)
  .bubble-text
  > div::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  border-right: solid 5px #202c33;
  border-top: solid 5px #202c33;
  border-left: solid 5px transparent;
  border-bottom: solid 5px transparent;
  left: -9px;
  top: 0;
}
.chat-container
  .bubble-container.right
  .bubble:nth-child(1)
  .bubble-text
  > div::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  border-left: solid 5px #005c4b;
  border-top: solid 5px #005c4b;
  border-right: solid 5px transparent;
  border-bottom: solid 5px transparent;
  right: -8px;
  top: 0;
}
.chat-container .bubble-container .bubble .bubble-text {
  color: white;
}

.chat-container .bubble-container.right .bubble .bubble-text > div {
  position: relative;
  background-color: #005c4b;
}

.chat-container .bubble-container.left .bubble .bubble-text > div {
  position: relative;
  background-color: #202c33;
}

.chat-container .bubble-container .bubble .bubble-text > div {
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.chat-container .bubble-container .bubble .bubble-text .bubble-info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  text-align: right;
  width: 80px;
}
