body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: black;
  color: white;
  width: 100%;
}
nav .mobile {
  display: none;
}

nav .logo {
  min-width: 250px;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
}

nav a:hover {
  color: black;
  background-color: rgb(0, 195, 255);
}

nav .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary {
  display: flex;
}

nav .secondary.full {
}

nav .secondary.mini {
  display: none;
}

@media screen and (max-width: 894px) {
  nav .logo {
    min-width: 100px;
  }

  nav .secondary.full {
    display: none;
  }

  nav .secondary.mini {
    display: block;
  }

  nav .secondary.mini .submenu {
    position: absolute;
    display: none;
  }
}

@media screen and (max-width: 516px) {
  nav .desktop {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  nav .mobile .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav .mobile .header .logo {
    flex: 1;
    text-align: center;
  }

  nav .mobile .header .more button {
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
  }
  nav .mobile .header .more button:hover {
    background-color: white;
    color: black;
  }
}
